.content{
    width: 50%;
    margin: 30px auto;
    border: 1px solid #eee;
border-left-width: 5px;
    border-left-color: #204d74;
    padding: 20px;
    transition: 0.5s ease;
}
    
    .buttons{
        display: block;
        margin: 0 auto;
        text-align: center;
    }
    
    .buttons button{
        width: 47%;
        margin: 5px 5px;
        border-radius: 0;
    }
    
    #myBar {
    width: 100%;
    height: 30px;
    background-color: #204d74;
    text-align: center; /* To center it horizontally (if you want) */
    line-height: 30px; /* To center it vertically */
    color: white;
    border-radius: 0;
        display: inline-block;
    }
    
    .glyphicon-warning-sign{
            font-size: 30px;
    }